.product-card {
    width: 15em!important;
    float: left
}

.product-img {
    max-width: 20%;
    max-height: 5em;
    object-fit: contain;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

.list-brand-text {
    font-size: 80%;
}

.center-horizontal {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.marked-icon {
    margin: 4px !important;
    padding: 8px !important;
    background-color: rgba(40, 167, 69, 0.3) !important;
}